<%include ../partials/header%>


<div class="container" style="padding-top: 60px;">
  <h1 class="page-header">New Client</h1>
  <!--Displaying a placeholder picture-->
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="text-center">
      <img src="/resources/Person-placeholder.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
      <h6>Upload a different photo...</h6>
      <input type="file" class="text-center center-block well well-sm">
    </div>
  </div>
  <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
  <!--Form to create a client-->
    <form  method="POST" action="/superuser/<%=superuser._id%>/client" class="form-horizontal" >
      <div class="form-group">
        <label class="col-lg-3 control-label">First name:</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="first name" name="client[firstName]" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Last name:</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="last name" name="client[lastName]" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Guardian name:</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="guardian name" name="client[guardian]" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Phone:</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="phone" name="client[phone]" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Diagnosis:</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="diagnosis" name="client[diagnosis]" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Medicaid Number:</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="medicaid number" name="client[medicaidNumber]" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <button class="btn btn-primary">Add</button> 
          <span></span>
          <a href="/superuser/<%=superuser._id%>" class="btn btn-default"> Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
    




<%include ../partials/footer%>