<!DOCTYPE html>
<html>
<head>
	<title>B-Note-A</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	<%if(page=="landing"){%>
    <link rel="stylesheet" href="/stylesheets/landing.css">
	<%}%>
	<%if(page=="login" || page=="change"){%>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <%}%>
    <%if(page=="dashboard"){%>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <%}%>
    <%if(page=="dashboard-show"){%>
    <link rel="stylesheet" href="/stylesheets/dashboard-show.css">
    <%}%>
    <%if(page=="dashboard-new"){%>
    <link rel="stylesheet" href="/stylesheets/dashboard-new.css">
    <%}%>
    <%if(page=="dashboard-client-show"){%>
    <link rel="stylesheet" href="/stylesheets/dashboard-client-show.css">
    <%}%>
    <%if(page=="dashboard-client-edit"){%>
    <link rel="stylesheet" href="/stylesheets/dashboard-client-edit.css">
    <%}%>
</head>
<body>
   