<%include partials/header%>
    
    <div id="landing-header">
 		<h1>Welcome to B-Note-A</h1>
 		<h3>The medical records manager for behavior analysis agencies</h3>
		<a href="/login" class="btn btn-lg btn-success">START</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>