<%include ../partials/header%>


<div class="container-fluid" style="padding-top: 60px;">
  <h1 class="page-header">New Assistant</h1>
  <!--Displaying a placeholder picture-->
  <form  id="new" method="POST" action="/superuser/<%=superuserID%>/assistant" class="form-horizontal" >
    <div class="col-sm-8 col-xs-12 ">
    <!--Form to create an assistant-->
      <div class="form-group">
        <label class="col-lg-3 control-label">First name:</label>
        <div class="col-lg-8">
          <input class="form-control"  placeholder="first name" name="assistant[firstName]" type="text" data-validation="required" data-validation-error-msg="The first name is required">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Last name:</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="last name" name="assistant[lastName]" type="text" data-validation="required" data-validation-error-msg="The last name is required">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Phone:</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="phone" name="assistant[phone]" type="text" data-validation="length" data-validation-length="10" data-validation-optional="true"  data-validation-error-msg="Wrong phone format">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Email:</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="email" name="assistant[email]" type="text" data-validation="email" >
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Provider ID:</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="provider id" name="assistant[providerId]" type="text" data-validation="length" data-validation-length="10" data-validation-optional="true" data-validation-error-msg="The provider Id must be 10 digits">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Username:</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="username" name="username" type="text" data-validation="length" data-validation-length="4 max15" data-validation-error-msg="The username must be between 4 and 15 characters">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Password:</label>
        <div class="col-lg-8">
          <input class="form-control" placeholder="password" name="password" type="password"  data-validation="strength" data-validation-strength="3" data-validation-error-msg="The password must have at least one number and one special character">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <button class="btn btn-primary">Add</button> 
          <span></span>
          <a href="/superuser/<%=superuserID%>" class="btn btn-default"> Cancel</a>
        </div>
      </div>
    </div>
  </form>
</div>


<%include ../partials/footer%>