<%include ../../partials/header%>

<form id="form" method="POST" action="/log">
	<div class="doc-name text-center">
        <h4>BEHAVIOR ANALYST DAILY LOG</h4>
    </div>
   <div class="table-responsive">
       <table class="table table-bordered doc-header">
            <tbody>
                <tr>
                    <td><h4>Name of Recipient/Medicaid ID: @Juan Perez/@9543678543</h4></td>
                    <td><h4>Name of Analist/Provider ID:@Juan Perez/090987657</h4></td>
                    <td class="col-center-daily"rowspan="2">
                    	<h4>Week's Hours/Units:</h4>
                    	<h4>@30/@120</h4>
                    </td>
                </tr>
                 <tr>
                    <td><h4>PA #:@98765093</h4></td>
                    <td><h4>Month/Year: @May/@2017</h4></td>
                </tr>
            </tbody>
        </table>
    </div>
	<div >
		<h6>Week of: @04/30/2017 to @05/06/2017</h6>
	</div>
	<%for(i=0;i<2;i++){%>
    	<div class="table-responsive">
		   <table class="table table-bordered">
		        <tbody>
		             <thead>
		                <tr>
		                    <th></th>
		                    <th><h4>Duration of Meeting</h4></th>
		                    <th><h4>Brief Description of Performance/Observation</h4></th>
		             
		                </tr>
		            </thead>
		             <tr class="text-center">
		                <td>
		                	<div class="date">
								<h4>Date:</h4>
								<h5>@12/12/2017</h5>
							</div>
		                </td>
		                <td>
		                   	<div class="hours">
								<h4>Time in:</h4>
								<h5>@9:30am</h5>
							</div>
							<div class="hours">
								<h4>Time out:</h4>
								<h5>@12:30am</h5>
							</div>
							<div class="hours">
								<h4>Units:</h4>
								<h5>@20</h5>
							</div>
		                </td>
		                <td>
							<div class="form-group">
								<textarea id="analist-progress" class="form-control input-lg" name="log[<%=i%>][progress]" data-validation="required"></textarea>
							</div>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		</div>
    <%}%>
    <div class="row canvas-area text-center">
    	<div class="col-sm-6 col-xs-12">
    		 <canvas class="analist-canvas" width="290" height="150"></canvas>
    		 <h4>Analist Signature</h4>
    		 <input type="text" class="analist-input" name="signatures[analist]" style="display:none" value="">
    		 <button type="button" class="btn btn-default activate-analist"  >Activate</button>
    		 <button type="button" class="btn btn-default clear-analist" >Clear</button>
  			 <button type="button" class="btn btn-default save-analist"  >Save</button>
    	</div>
    	<div class="col-sm-6 col-xs-12">
    		 <canvas class="caregiver-canvas" width="290" height="150"></canvas>
    		 <h4>Caregiver Signature</h4>
    		 <input type="text" class="caregiver-input" name="signatures[caregiver] " style="display:none" value="">
    		 <button type="button" class="btn btn-default activate-caregiver"  >Activate</button>
    		 <button type="button" class="btn btn-default clear-caregiver" >Clear</button>
  			 <button type="button" class="btn btn-default save-caregiver"  >Save</button>
    	</div>
    </div>
	 <div class="save-buttons text-center">
    	<button class="btn btn-success btn-lg save">Save</button>
    	<button class="btn btn-success btn-lg submit">Submit</button>
    	<input id="button" type="text" name="button" value="submit" style="display:none">
    </div>
</form>



<%include ../../partials/footer%> 
